@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype");
}

@font-face {
  font-family: "MullerLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerLight/MullerLight.eot");
  src: url("../fonts/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype");
}

@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype");
}

@font-face {
  font-family: "MullerBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBlack/MullerBlack.eot");
  src: url("../fonts/MullerBlack/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack/MullerBlack.ttf") format("truetype");
}

@font-face {
  font-family: "MullerExtraBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold/MullerExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

body a.emailBlack__link {
  text-decoration: none;
  outline: none;
  color: #ff2e2f;
}

body table.emailBlack-wrapper {
  background-image: url("../img/emailBlack/emailBlack__imgBg.jpg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: repeat-y;
  max-width: 1000px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

body table.emailBlack-wrapper table.emailBlack-header, body table.emailBlack-wrapper table.emailBlack-genInf, body table.emailBlack-wrapper table.emailBlack-order, body table.emailBlack-wrapper table.emailBlack-schedule, body table.emailBlack-wrapper table.emailBlack-profile, body table.emailBlack-wrapper table.emailBlack-contacts, body table.emailBlack-wrapper table.emailBlack-map, body table.emailBlack-wrapper table.emailBlack-footer {
  padding-left: 10px;
  padding-right: 10px;
}

body table.emailBlack-wrapper table {
  border-spacing: 0;
}

body table.emailBlack-wrapper table td, body table.emailBlack-wrapper table th, body table.emailBlack-wrapper table tr {
  padding: 0;
  margin: 0;
}

body table.emailBlack-wrapper .emailBlack__headOuter h1.emailBlack__h1 {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: -1px;
}

body table.emailBlack-wrapper .emailBlack__headOuter .emailBlack__line {
  background-color: #c7c7c8;
  opacity: 0.4;
  width: 100%;
  height: 1px;
  margin-top: 7.5px;
}

body table.emailBlack-wrapper .emailBlack-footer__socials {
  padding-top: 15px;
  width: 53px;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social {
  border-width: 1px;
  border-style: solid;
  border-color: #656A6C;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  margin-left: 10px;
  width: 53px;
  height: 53px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social a {
  padding: 10px;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social img.emailBlack__imgSocial {
  vertical-align: middle;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social img.emailBlack-footer__imgSocial {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #ff2e2e;
  background-color: #ff2e2e;
}

body table.emailBlack-wrapper .emailBlack-footer__socials .emailBlack-footer__social:hover img.emailBlack-footer__imgSocial {
  filter: brightness(10);
  -webkit-filter: brightness(10);
}

body table.emailBlack-wrapper .emailBlack__container {
  max-width: 600px !important;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

body table.emailBlack-wrapper .emailBlack-header {
  padding-bottom: 8%;
  background-image: url("../img/emailBlack/emailBlack__header-bg2.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

body table.emailBlack-wrapper .emailBlack-header .emailBlack-headerTop {
  padding-top: 30px;
}

body table.emailBlack-wrapper .emailBlack-header .emailBlack-headerTop .emailBlack-headerTop__container img.emailBlack-headerTop__logo {
  margin-top: 5px;
}

body table.emailBlack-wrapper .emailBlack-header .emailBlack-headerTop .emailBlack-headerTop__container .emailBlack-footer__socials {
  padding-top: 0px;
}

body table.emailBlack-wrapper .emailBlack-header .emailBlack-headerTop .emailBlack-headerTop__container .emailBlack-footer__socials .emailBlack-footer__social {
  border-color: #dddddd;
  background-color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-header .emailBlack-headerTop .emailBlack-headerTop__container .emailBlack-footer__socials .emailBlack-footer__social:hover {
  border-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-genInf {
  padding-top: 30px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__headOuter h1.emailBlack-genInf__h1 {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 39px;
  color: #ff2e2f;
  letter-spacing: -2px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__headOuter .emailBlack-genInf__line {
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 1px;
  margin-top: 7.5px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__subhead {
  padding-top: 20px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__subhead span.emailBlack-genInf__span {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: -0.5px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__desc .emailBlack-genInf__line {
  width: 100%;
  height: 4px;
  background-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__desc p.emailBlack-genInf__text {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #C7C7C8;
  letter-spacing: -0.5px;
  white-space: normal;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__desc .emailBlack-genInf__line, body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container .emailBlack-genInf__desc p.emailBlack-genInf__text {
  margin-top: 30px;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container table.emailBlack-genInf__buttonPay {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  background-color: #ff2e2f;
  -webkit-border-radius: 37px;
          border-radius: 37px;
  height: 74px;
  text-align: center;
}

body table.emailBlack-wrapper .emailBlack-genInf .emailBlack-genInf__container table.emailBlack-genInf__buttonPay a {
  padding: 30px;
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-order, body table.emailBlack-wrapper .emailBlack-schedule, body table.emailBlack-wrapper .emailBlack-profile, body table.emailBlack-wrapper .emailBlack-contacts {
  padding-top: 50px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table {
  margin-top: 17.5px;
  width: 100%;
  border-collapse: collapse;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #686868;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr .emailBlack-order__tableCell {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  padding-right: 5px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr .emailBlack-order__col1 {
  width: 50%;
  padding-left: 10px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr .emailBlack-order__col2 {
  width: 23%;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr .emailBlack-order__col3 {
  width: 27%;
  padding-right: 5px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr th {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container table.emailBlack-order__table tr td {
  font-family: 'Verana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result {
  text-align: right;
  padding-top: 25px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result .emailBlack-order__line_red {
  width: 35px;
  height: 3px;
  margin-top: 3px;
  background-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result span.emailBlack-order__span {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  margin-left: 17.5px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result span.emailBlack-order__span span.emailBlack-order__span_bold {
  font-weight: bold;
  margin-right: 7.5px;
}

body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result .emailBlack-order__line_red, body table.emailBlack-wrapper .emailBlack-order .emailBlack-order__container .emailBlack-order__result span.emailBlack-order__span {
  display: inline-block;
  vertical-align: middle;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table {
  margin-top: 25px;
  width: 100% !important;
  border-spacing: 5px;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr th {
  text-align: left !important;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr td {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 15px;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr th, body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr td {
  letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr .emailBlack-schedule__col1 {
  width: 34.2%;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr .emailBlack-schedule__col2 {
  width: 41.8%;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container table.emailBlack-schedule__table tr .emailBlack-schedule__col3 {
  width: 24%;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container p.emailBlack-schedule__text {
  max-width: 90%;
  margin-bottom: 0;
  margin-top: 35px;
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-schedule table.emailBlack-schedule__container p.emailBlack-schedule__text a.emailBlack-schedule__link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-profile .emailBlack-profile__container span.emailBlack-profile__text {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-profile .emailBlack-profile__container span.emailBlack-profile__text span.emailBlack-profile__span_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-profile .emailBlack-profile__container span.emailBlack-profile__text a.emailBlack-profile__link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-contacts .emailBlack-contacts__container span.emailBlack-contacts__text {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-contacts .emailBlack-contacts__container span.emailBlack-contacts__text span.emailBlack-contacts__span_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-contacts .emailBlack-contacts__container span.emailBlack-contacts__text a.emailBlack-contacts__link_underlined {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailBlack-wrapper .emailBlack-contacts .emailBlack-contacts__container p.emailBlack-contacts__dopText {
  margin: 0;
  font-family: 'Verdana';
  font-weight: normal;
  font-size: 19px;
  color: #C7C7C8;
}

body table.emailBlack-wrapper .emailBlack-contacts .emailBlack-contacts__container p.emailBlack-contacts__dopText span.emailBlack-contacts__dopText_bold {
  font-weight: normal;
}

body table.emailBlack-wrapper .emailBlack-map {
  background-image: url("../img/emailBlack/emailBlack-map__imgBg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

body table.emailBlack-wrapper .emailBlack-map .emailBlack-map__container .emailBlack-map__text {
  font-family: 'Verdana';
  font-weight: normal;
  font-size: 17px;
  color: #333333;
  letter-spacing: -1px;
}

body table.emailBlack-wrapper .emailBlack-map .emailBlack-map__container .emailBlack-map__text_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  letter-spacing: -2px;
}

body table.emailBlack-wrapper .emailBlack-map .emailBlack-map__container td {
  padding-bottom: 30px;
  vertical-align: top;
}

body table.emailBlack-wrapper .emailBlack-map .emailBlack-map__container td img {
  margin-top: 2px;
}

body table.emailBlack-wrapper .emailBlack-map .emailBlack-map__container .emailBlack-map__col1 {
  width: 50px;
}

body table.emailBlack-wrapper .emailBlack-footer {
  background-image: url("../img/emailBlack/emailBlack-footer__imgBg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  padding-top: 47.5px;
  padding-bottom: 47.5px;
}

body table.emailBlack-wrapper .emailBlack-footer .emailBlack-footer__container .emailBlack-footer__textOuter p.emailBlack-footer__text {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.75;
  line-height: 1.2;
}

body table.emailBlack-wrapper .emailBlack-footer .emailBlack-footer__container .emailBlack-footer__textOuter p.emailBlack-footer__text a.emailBlack-footer__link {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ffffff;
}

body table.emailBlack-wrapper .emailBlack-footer .emailBlack-footer__container .emailBlack-footer__textOuter .emailBlack-footer__copyText {
  padding-top: 15px;
}

body table.emailBlack-wrapper .emailBlack-footer .emailBlack-footer__container .emailBlack-footer__textOuter .emailBlack-footer__copyText span.emailBlack-footer__span {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff !important;
  opacity: 0.75;
}
