@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype");
}

@font-face {
  font-family: "MullerLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerLight/MullerLight.eot");
  src: url("../fonts/MullerLight/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype");
}

@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype");
}

@font-face {
  font-family: "MullerBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype");
}

@font-face {
  font-family: "MullerBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerBlack/MullerBlack.eot");
  src: url("../fonts/MullerBlack/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack/MullerBlack.ttf") format("truetype");
}

@font-face {
  font-family: "MullerExtraBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot");
  src: url("../fonts/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold/MullerExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

body a.emailWhite__link {
  text-decoration: none;
  outline: none;
  color: #ff2e2f;
}

body table.emailWhite-wrapper {
  background-color: #F8F8F8 !important;
  max-width: 1000px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

body table.emailWhite-wrapper table.emailWhite-header, body table.emailWhite-wrapper table.emailWhite-genInf, body table.emailWhite-wrapper table.emailWhite-order, body table.emailWhite-wrapper table.emailWhite-schedule, body table.emailWhite-wrapper table.emailWhite-profile, body table.emailWhite-wrapper table.emailWhite-contacts, body table.emailWhite-wrapper table.emailWhite-map, body table.emailWhite-wrapper table.emailWhite-footer {
  padding-left: 10px;
  padding-right: 10px;
}

body table.emailWhite-wrapper table {
  border-spacing: 0;
}

body table.emailWhite-wrapper table td, body table.emailWhite-wrapper table th, body table.emailWhite-wrapper table tr {
  padding: 0;
  margin: 0;
}

body table.emailWhite-wrapper .emailWhite__headOuter h1.emailWhite__h1 {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: #333333;
  letter-spacing: -1px;
}

body table.emailWhite-wrapper .emailWhite__headOuter .emailWhite__line {
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 1px;
  margin-top: 7.5px;
}

body table.emailWhite-wrapper .emailWhite__socials a.emailWhite__social {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  width: 53px;
  height: 53px;
  line-height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #656A6C;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

body table.emailWhite-wrapper .emailWhite__socials a.emailWhite__social img.emailWhite__imgSocial {
  display: inline-block;
  vertical-align: middle;
}

body table.emailWhite-wrapper .emailWhite__container {
  max-width: 600px !important;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

body table.emailWhite-wrapper .emailWhite-header {
  padding-bottom: 17%;
  background-image: url("img/emailWhite/emailWhite__header-bg.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

body table.emailWhite-wrapper .emailWhite-header .emailWhite-headerTop {
  padding-top: 35px;
}

body table.emailWhite-wrapper .emailWhite-header .emailWhite-headerTop .emailWhite-headerTop__container img.emailWhite-headerTop__logo {
  margin-top: 5px;
}

body table.emailWhite-wrapper .emailWhite-header .emailWhite-headerTop .emailWhite-headerTop__container .emailWhite-headerTop__socials a.emailWhite-headerTop__social {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  width: 53px;
  height: 53px;
}

body table.emailWhite-wrapper .emailWhite-genInf {
  padding-top: 30px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__headOuter h1.emailWhite-genInf__h1 {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 39px;
  color: #ff2e2f;
  letter-spacing: -2px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__headOuter .emailWhite-genInf__line {
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 1px;
  margin-top: 7.5px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__subhead {
  padding-top: 20px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__subhead span.emailWhite-genInf__span {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #333333;
  letter-spacing: -0.5px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__desc .emailWhite-genInf__line {
  width: 100%;
  height: 4px;
  background-color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__desc p.emailWhite-genInf__text {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #333333;
  letter-spacing: -0.5px;
  white-space: normal;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__desc .emailWhite-genInf__line, body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container .emailWhite-genInf__desc p.emailWhite-genInf__text {
  margin-top: 30px;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container table.emailWhite-genInf__buttonPay {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  background-color: #ff2e2f;
  -webkit-border-radius: 37px;
          border-radius: 37px;
  height: 74px;
  text-align: center;
}

body table.emailWhite-wrapper .emailWhite-genInf .emailWhite-genInf__container table.emailWhite-genInf__buttonPay a {
  padding: 30px;
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

body table.emailWhite-wrapper .emailWhite-order, body table.emailWhite-wrapper .emailWhite-schedule, body table.emailWhite-wrapper .emailWhite-profile, body table.emailWhite-wrapper .emailWhite-contacts {
  padding-top: 50px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table {
  margin-top: 17.5px;
  width: 100%;
  border-collapse: collapse;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #686868;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr .emailWhite-order__tableCell {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  padding-right: 5px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr .emailWhite-order__col1 {
  width: 50%;
  padding-left: 10px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr .emailWhite-order__col2 {
  width: 23%;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr .emailWhite-order__col3 {
  width: 27%;
  padding-right: 5px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr th {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container table.emailWhite-order__table tr td {
  font-family: 'Verana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result {
  text-align: right;
  padding-top: 25px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result .emailWhite-order__line_red {
  width: 35px;
  height: 3px;
  margin-top: 3px;
  background-color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result span.emailWhite-order__span {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #333333;
  margin-left: 17.5px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result span.emailWhite-order__span span.emailWhite-order__span_bold {
  font-weight: bold;
  margin-right: 7.5px;
}

body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result .emailWhite-order__line_red, body table.emailWhite-wrapper .emailWhite-order .emailWhite-order__container .emailWhite-order__result span.emailWhite-order__span {
  display: inline-block;
  vertical-align: middle;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table {
  margin-top: 25px;
  width: 100% !important;
  border-spacing: 5px;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr th {
  text-align: left !important;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr td {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 15px;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr th, body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr td {
  letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr .emailWhite-schedule__col1 {
  width: 34.2%;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr .emailWhite-schedule__col2 {
  width: 41.8%;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container table.emailWhite-schedule__table tr .emailWhite-schedule__col3 {
  width: 24%;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container p.emailWhite-schedule__text {
  max-width: 90%;
  margin-bottom: 0;
  margin-top: 35px;
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-schedule table.emailWhite-schedule__container p.emailWhite-schedule__text a.emailWhite-schedule__link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-profile .emailWhite-profile__container span.emailWhite-profile__text {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-profile .emailWhite-profile__container span.emailWhite-profile__text span.emailWhite-profile__span_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 15px;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-profile .emailWhite-profile__container span.emailWhite-profile__text a.emailWhite-profile__link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-contacts .emailWhite-contacts__container span.emailWhite-contacts__text {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-contacts .emailWhite-contacts__container span.emailWhite-contacts__text span.emailWhite-contacts__span_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 15px;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-contacts .emailWhite-contacts__container span.emailWhite-contacts__text a.emailWhite-contacts__link_underlined {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff2e2f;
}

body table.emailWhite-wrapper .emailWhite-contacts .emailWhite-contacts__container p.emailWhite-contacts__dopText {
  margin: 0;
  font-family: 'Verdana';
  font-weight: normal;
  font-size: 19px;
  color: #333333;
}

body table.emailWhite-wrapper .emailWhite-contacts .emailWhite-contacts__container p.emailWhite-contacts__dopText span.emailWhite-contacts__dopText_bold {
  font-weight: bold;
}

body table.emailWhite-wrapper .emailWhite-map {
  background-image: url("img/emailWhite/emailWhite-map__imgBg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

body table.emailWhite-wrapper .emailWhite-map .emailWhite-map__container .emailWhite-map__text {
  font-family: 'Verdana';
  font-weight: normal;
  font-size: 17px;
  color: #333333;
  letter-spacing: -1px;
}

body table.emailWhite-wrapper .emailWhite-map .emailWhite-map__container .emailWhite-map__text_bold {
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  letter-spacing: -2px;
}

body table.emailWhite-wrapper .emailWhite-map .emailWhite-map__container td {
  padding-bottom: 30px;
  vertical-align: top;
}

body table.emailWhite-wrapper .emailWhite-map .emailWhite-map__container td img {
  margin-top: 2px;
}

body table.emailWhite-wrapper .emailWhite-map .emailWhite-map__container .emailWhite-map__col1 {
  width: 50px;
}

body table.emailWhite-wrapper .emailWhite-footer {
  background-color: #212121 !important;
  padding-top: 47.5px;
  padding-bottom: 47.5px;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__textOuter p.emailWhite-footer__text {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.75;
  line-height: 1.2;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__textOuter p.emailWhite-footer__text a.emailWhite-footer__link {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ffffff;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__textOuter .emailWhite-footer__copyText {
  padding-top: 15px;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__textOuter .emailWhite-footer__copyText span.emailWhite-footer__span {
  font-family: 'Verdana', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #ffffff !important;
  opacity: 0.75;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials {
  padding-top: 15px;
  width: 53px;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social {
  border-width: 1px;
  border-style: solid;
  border-color: #656A6C;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  margin-left: 10px;
  width: 53px;
  height: 53px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social a {
  padding: 10px;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social img.emailWhite__imgSocial {
  vertical-align: middle;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social img.emailWhite-footer__imgSocial {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #ff2e2e;
  background-color: #ff2e2e;
}

body table.emailWhite-wrapper .emailWhite-footer .emailWhite-footer__container .emailWhite-footer__socials .emailWhite-footer__social:hover img.emailWhite-footer__imgSocial {
  filter: brightness(10);
  -webkit-filter: brightness(10);
}
