doctype html
html(lang="ru")
    head
        meta(charset="utf-8")

        title Email-white
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="Front-end by unTsar")
        meta(name="robots" content ="index, follow")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")


        link(rel="stylesheet", href="css/email-white_prev.css")
    body
        .emailWhite-wrapper
            .emailWhite-header
                .emailWhite-headerTop
                    .emailWhite__container.emailWhite-headerTop__container
                        .emailWhite-headerTop__headText #Школа <br>поддержания <br>результата
                        .emailWhite-headerTop__infText
                            .emailWhite-headerTop__numberText
                                .emailWhite-headerTop__text Заказ #20903
                                .emailWhite-headerTop__line
                            .emailWhite-headerTop__descText Спасибо за Ваш заказ, Admin System 
                .emailWhite-headerContent
                    .emailWhite__container.emailWhite-headerContent__container
                        .emailWhite-headerContent__line
                        .emailWhite-headerContent__text Обращаем ваше внимание, что подача заявки не бронирует место в группе. Запись в группу происходит #[.emailWhite-headerContent__text_red только после оплаты.] <br>Пожалуйста, если у вас есть вопросы, свяжитесь с нами. Когда вы будете готовы, можете оплатить заказ в личном кабинете или по ссылке:
                        .emailWhite-headerContent__button
                            .emailWhite-headerContent__text ПЕРЕЙТИ К ОПЛАТЕ
            .emailWhite-main
                .emailWhite-main__inf
                    .emailWhite__container.emailWhite__container_white.emailWhite-main__container
                        .emailWhite-main__order
                            .emailWhite-main__headText
                                .emailWhite-main__text Заказ
                                .emailWhite-main__line 
                            .emailWhite-main__list
                                .emailWhite-main__topLine
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text Название урока
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text Группа
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Стоимость
                                .emailWhite-main__line.emailWhite-main__line_gray
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text Абонемент 4
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 03
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text 3 000 руб.
                            .emailWhite-main__total
                                .emailWhite-main__elem_float
                                    .emailWhite-main__line
                                    .emailWhite-main__text Итого: 3 000,00 руб. 
                        .emailWhite-main__schedule
                            .emailWhite-main__headText
                                .emailWhite-main__line
                                .emailWhite-main__text Расписание занятий
                            .emailWhite-main__list
                                .emailWhite-main__topLine
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text Урок / Зал
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text Дата / Время
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Тренер
                                .emailWhite-main__line.emailWhite-main__line_gray
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text.emailWhite-main__text_underlined Smart LadyFit 17
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 09.05, СР 19:00
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Рита Цыркуль

                                .emailWhite-main__line
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text.emailWhite-main__text_red Тайский Бокс 17
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 10.05, СР 19:00
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Руслан Бареев

                                .emailWhite-main__line.emailWhite-main__line_gray
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text.emailWhite-main__text_underlined Ягодицы+Ноги +Пресс 17
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 09.05, СР 19:00
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Таня Крекшина

                                .emailWhite-main__line
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text.emailWhite-main__text_underlined Smart LadyFit 21 
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 10.05, СР 19:00
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Рита Цыркуль

                                .emailWhite-main__line.emailWhite-main__line_gray
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n1
                                        .emailWhite-main__text.emailWhite-main__text_underlined Ягодицы+Ноги +Пресс 17
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n2
                                        .emailWhite-main__text 11.05, СР 19:00
                                    .emailWhite-main__col.emailWhite-col.emailWhite-col_n3
                                        .emailWhite-main__text Таня Крекшина
                        .emailWhite-main__textBlock После оплаты, Вы сможете перенести тренировку на другой день при наличии свободных мест в #[.emailWhite-main__text_red личном кабинете], но не позднее, чем за одни день до начала занятия.

                .emailWhite-main__profile
                    .emailWhite__container.emailWhite__container_white.emailWhite-main__container
                        .emailWhite-main__headText
                            .emailWhite-main__text Личный кабинет
                            .emailWhite-main__line
                        .emailWhite-main__textBlock
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Адрес:  

                                a(href="https://www.v-concept.ru/login").emailWhite-main__text.emailWhite-main__text_red  https://www.v-concept.ru/login
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Логин: 

                                .emailWhite-main__text admin
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Пароль: 

                                .emailWhite-main__text guest123
                .emailWhite-main__personInf
                    .emailWhite__container.emailWhite__container_white.emailWhite-main__container
                        .emailWhite-main__headText
                            .emailWhite-main__text Контактная информация
                            .emailWhite-main__line
                        .emailWhite-main__textBlock
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Фамилия:  

                                .emailWhite-main__text Admin
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Имя: 

                                .emailWhite-main__text System
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Email: 

                                .emailWhite-main__text.emailWhite-main__text_red-underlined blinnikoff@mail.ru
                            .emailWhite-main__line
                                .emailWhite-main__text.emailWhite-main__text_bold Телефон: 

                                .emailWhite-main__text.emailWhite-main__text_red +7 (906) 099-80-80
                .emailWhite-main__fbText
                    .emailWhite__container.emailWhite-main__container
                        .emailWhite-main__text Если у вас возникают вопросы, пожалуйста, напишите нам на почту или позвоните.
                        .emailWhite-main__text Мы всегда с Вами. #[br]Ваша команда #[.emailWhite-main__text_bold V_CONCEPT] #[br]#[.emailWhite-main__text_bold Время работы каждый день с 12-20]
                .emailWhite-main__contacts








