doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		title Email-white
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="Front-end by unTsar")
		meta(name="robots" content="index, follow")

		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")


		link(rel="stylesheet", href="css/emailWhite_var1.css")
	body
		.emailWhite-wrapper
			.emailWhite-header
				img.emailWhite-header__header-bg(src="img/emailWhite/emailWhite__header-bg.png", alt="email-white__header-bg.png")
				.emailWhite-headerTop
					.emailWhite__container.emailWhite-headerTop__container
						img.emailWhite-headerTop__logo(src="img/emailWhite/emailWhite-logo.png", alt="emailWhite-logo.png")
						.emailWhite__socials.emailWhite-headerTop__socials
							a.emailWhite__social.emailWhite-headerTop__social(href="#")
								img.emailWhite__imgSocial.emailWhite-headerTop__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial1.png", alt="emailWhite-headerTop__imgSocial1.png")
							a.emailWhite__social.emailWhite-headerTop__social(href="#")
								img.emailWhite__imgSocial.emailWhite-headerTop__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial2.png", alt="emailWhite-headerTop__imgSocial2.png")
							a.emailWhite__social.emailWhite-headerTop__social(href="#")
								img.emailWhite__imgSocial.emailWhite-headerTop__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial3.png", alt="emailWhite-headerTop__imgSocial3.png")
			.emailWhite-genInf
				.emailWhite__container.emailWhite-genInf__container
					.emailWhite-genInf__headOuter
						h1.emailWhite-genInf__h1 Заказ #20903
						.emailWhite-genInf__line
					.emailWhite-genInf__subhead
						span.emailWhite-genInf__span Спасибо за Ваш заказ, Admin System 
					.emailWhite-genInf__desc
						.emailWhite-genInf__line
						p.emailWhite-genInf__text|Обращаем ваше внимание, что подача заявки не бронирует место в группе. Запись в группу происходит #[a.emailWhite__link.emailWhite-genInf-link(href="#") только после оплаты]
							br
							|Пожалуйста, если у вас есть вопросы, свяжитесь с нами. Когда вы будете готовы, можете оплатить заказ в личном кабинете или по ссылке:
					a.emailWhite-genInf__buttonPay(href="#") ПЕРЕЙТИ К ОПЛАТЕ
			.emailWhite-order
				.emailWhite__container.emailWhite-order__container
					.emailWhite__headOuter.emailWhite-order__headOuter 
						h1.emailWhite__h1.emailWhite-order__h1 Заказ
						.emailWhite__line.emailWhite-order__line
					table.emailWhite-order__table
						tr
							th.emailWhite-order__tableCell.emailWhite-order__col1 Название урока
							th.emailWhite-order__tableCell.emailWhite-order__col2 Группа
							th.emailWhite-order__tableCell.emailWhite-order__col3 Стоимость, руб.
						tr
							td.emailWhite-order__tableCell.emailWhite-order__col1 Абонемент 4
							td.emailWhite-order__tableCell.emailWhite-order__col2 Группа 1
							td.emailWhite-order__tableCell.emailWhite-order__col3 3 000,00 руб.
						tr
							td.emailWhite-order__tableCell.emailWhite-order__col1 Абонемент 5
							td.emailWhite-order__tableCell.emailWhite-order__col2 Группа 1
							td.emailWhite-order__tableCell.emailWhite-order__col3 4 000,00 руб.
					.emailWhite-order__result
						.emailWhite-order__line_red
						span.emailWhite-order__span #[span.emailWhite-order__span_bold Итого:] 7 000,00 руб.
			.emailWhite-schedule
				.emailWhite__container.emailWhite-schedule__container
					.emailWhite__headOuter.emailWhite-schedule__headOuter 
						h1.emailWhite__h1.emailWhite-schedule__h1 Расписание занятий
						.emailWhite__line.emailWhite-schedule__line
			.emailWhite-profile
				.emailWhite__container.emailWhite-profile__container
					.emailWhite__headOuter.emailWhite-profile__headOuter 
						h1.emailWhite__h1.emailWhite-profile__h1 Личный кабинет
						.emailWhite__line.emailWhite-profile__line
			.emailWhite-contacts
				.emailWhite__container.emailWhite-contacts__container
					.emailWhite__headOuter.emailWhite-contacts__headOuter 
						h1.emailWhite__h1.emailWhite-contacts__h1 Контактная информация
						.emailWhite__line.emailWhite-contacts__line
			.emailWhite-footer
				.emailWhite__container.emailWhite-footer__container
					.emailWhite-footer__textOuter
						p.emailWhite-footer__text|Вы получили это письмо, потому что 
							br
							|Ваш email был указан 
							br
							|на сайте #[a.emailWhite-footer__link(href="#") www.v-concept.ru]
						.emailWhite-footer__copyText
							span.emailWhite-footer__span &copy; 2018 www.v-concept.ru
					.emailWhite__socials.emailWhite-footer__socials
						a.emailWhite__social.emailWhite-footer__social(href="#")
							img.emailWhite__imgSocial.emailWhite-footer__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial1_red.png", alt="emailWhite-headerTop__imgSocial1_red.png")
						a.emailWhite__social.emailWhite-footer__social(href="#")
							img.emailWhite__imgSocial.emailWhite-footer__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial2_red.png", alt="emailWhite-headerTop__imgSocial2_red.png")
						a.emailWhite__social.emailWhite-footer__social(href="#")
							img.emailWhite__imgSocial.emailWhite-footer__imgSocial(src="img/emailWhite/emailWhite-headerTop__imgSocial3_red.png", alt="emailWhite-headerTop__imgSocial3_red.png")

